@page
@model ASP.NET_Core_Web_Application_CURD.Pages.BookPage.CreateModel
@{
}

<h1>Create Page</h1>
<div class ="container row p-0 m-0">
    <div class="col-9">
<form>
  <div class="form-group">
    <label for="bookName">Name</label>
    <input type="text" class="form-control" id="bookName">
  </div>
  <div class="form-group">
    <label for="bookAuthor">Author</label>
    <input type="text" class="form-control" id="bookAuthor">
  </div>
  <br/>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
</div>
</div>