@page
@model ASP.NET_Core_Web_Application_CURD.Pages.BookPage.UpsertModel
@{
}
<div class="container row p-0 m-0">

    <div class="col-9">
        <div class="card-header border">
            <h1> @(Model.Book.Id!=0? "Edit" : "Create")Book</h1>
        </div>
        <div class="card-body border">
            <form method="post">
                @if(Model.Book.Id!=0){
                <input type="hidden" asp-for="Book.Id"/>
                }
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="Book.Name">Name</label>
                    <input type="text" asp-for="Book.Name" class="form-control" id="bookName">
                </div>
                <span class="text-danger" asp-validation-for="Book.Name"></span>
                <div class="form-group">
                    <label asp-for="Book.Author">Author</label>
                    <input type="text" asp-for="Book.Author" class="form-control" id="bookAuthor">
                </div>
                <span class="text-danger" asp-validation-for="Book.Author"></span>

                <div class="form-group">
                    <label asp-for="Book.Token">Token</label>
                    <input type="text" asp-for="Book.Token" class="form-control" id="bookToken">
                </div>
                <span class="text-danger" asp-validation-for="Book.Token"></span>

                <br />
                <div class="from-group row">
                    <div class="col-10">
                        <button type="submit" class="btn btn-success"> @(Model.Book.Id!=0? "Update" : "Create")</button>

                    </div>
                    <div class="col-2">
                        <a asp-page="Index" class="btn btn-primary form-control">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}